
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i&amp;subset=cyrillic');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//a{
//  color:#ff8a3d;
//  text-decoration: none;
//
//  &:hover{
//    color:#ff8a3d;
//    text-decoration:none;
//    border-bottom:1px solid #ff8a3d;;
//  }
//}

h3{
  //color: #ff8a3d;
  color: #86cedb;
}

.text-link{
    color:#ff8a3d;
    text-decoration: none;

    &:hover{
      color:#ff8a3d;
      text-decoration:none;
      border-bottom:1px solid #ff8a3d;;
    }
}

#header{
  height: auto;
  padding: 20px 0;
}

.header_logo{
  img {
    width:150px;
  }
}

.header_feedback{line-height:70px;}
.header_feedback_modal{
  background: #fff;
  padding:20px;
}
.header_feedback_modal-title{
  padding-left: 55px;
  padding-top: 20px;
  line-height: 2em;
}
.header_feedback_modal-form{
  width: 350px;
  margin: 0 auto;
  padding: 30px 0;
}
.modal-dialog{margin-top:10em}

.breadcrumb{
  padding: 0.75em 0;
  background: none;
  margin:0;
}

.container{
  //border:1px solid #6E6E6E;
  height: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

.row{
  height: 100%;
}

.header_feedback{

  a {
    color: #000;
    font-size: 16px;
    border-bottom: 1px #000 dashed;

    -webkit-text-decoration-skip: objects;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  a:hover{
    text-decoration: none;
    color:#ff8a3d;
    border-bottom: 1px #ff8a3d dashed;
  }

}

.header_phone_main{
  font-size: 35px;
  font-weight: bold;
  line-height: 35px;
}

.header_phone_dop{
  font-size:16px;
}

//.header_messangers{
  .messanger_tm,
  .messanger_vb,
  .messanger_wp,
  .messanger_ig{
    //border: 1px solid;
    width: 30px;
    height: 30px;
    float: right;
    margin: 1px;
    background: url('/files/messangers.png') no-repeat;
    background-size: cover;
  }

  .messanger_tm{
    background-position-x:-43px;
  }
  .messanger_vb{
    background-position-x:-129px;
  }
  .messanger_wp{
    background-position-x:-216px;
  }
  .messanger_ig{
    background-position-x:-259px;
  }

//}

.main_menu{
  background: #86cedb;
  //background: #ff8a3d;
  font-size: 16px;

  a{
    color:#fff!important;

    &:hover{
      text-decoration: none;
    }
  }

  a:first-child
  {
    padding-left:0!important;
  }

  .navbar-nav:first-child{
    margin-left:0!important;
  }

  .navbar-nav .nav-link{
    //font-weight:700;
  }
}

.advantages {

  .advantages_item {
    font-size: 20px;
    text-align: center;
    border: 1px solid #ececec;
  }

}

.form_make_appointment{
  margin: 0 auto;
  width:350px;
}

.form_feedback{
  padding:120px;
}

.footer{
  height: auto;
  background: #556567;
}

.footer h5{
  color:#fff;
  font-weight:bold;
}

.footer_logo{
  img {
    width:150px;
  }
}

.footer_menu{
  list-style: none;
  padding:0;
}

.footer_menu_link{
  color:#fff;
}

.footer_menu_link:hover{
  color:#fff;
}

.footer_phone{
  color:#fff;
  text-align: right;

  .footer_phone_main{
    font-size: 35px;
    font-weight: bold;
  }

  .footer_phone_dop{
    font-size:16px;
  }

  //.footer_messangers{
  //  .messanger_tm,
  //  .messanger_vb,
  //  .messanger_wp,
  //  .messanger_ig{
  //    border: 1px solid;
  //    width: 30px;
  //    height: 30px;
  //    float: right;
  //    margin: 1px;
  //    background: url('/files/messangers.png') no-repeat;
  //  }
  //
  //  .messanger_tm{
  //    background-position: 0 0;
  //  }

  //}
}

.widget-doctor {

  border:1px solid #cecece;
  border-radius: 15px;
  padding: 20px 25px 0px;

  &:first-child{
    margin-left:0;
  }

  &_image {
    height: 150px;
    overflow: hidden;
    margin-bottom: 15px;
  }
}