// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i&subset=cyrillic');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~lightbox2/src/css/lightbox';

@import '~owl.carousel2/dist/assets/owl.carousel';
@import '~owl.carousel2/dist/assets/owl.theme.default';

//@import '~owl.carousel/dist/assets/owl.carousel.css';
//@import '~lightbox2/dist/css/lightbox.min.css';
//@import '~@fortawesome/fontawesome-free/css/all.min.css';

//a{
//  color:#ff8a3d;
//  text-decoration: none;
//
//  &:hover{
//    color:#ff8a3d;
//    text-decoration:none;
//    border-bottom:1px solid #ff8a3d;;
//  }
//}

h3{
  //color: #ff8a3d;
  color: #86cedb;
  padding: 15px 0;
  font-weight: bolder;
}

.text-link{
    color:#ff8a3d;
    text-decoration: none;

    &:hover{
      color:#ff8a3d;
      text-decoration:none;
      border-bottom:1px solid #ff8a3d;;
    }
}

#header{
  height: auto;
  padding: 20px 0;
}

.header_logo{
  img {
    width:150px;
  }
}

.header_feedback_block{
  overflow: auto;
}

.header_feedback{float:left}
.header_feedback_modal{
  background: #fff;
  padding:20px;
  display:inline-block;
}
.header_feedback_modal-title{
  padding-left: 55px;
  padding-top: 20px;
  line-height: 2em;
}
.header_feedback_modal-form{
  width: 350px;
  margin: 0 auto;
  padding: 30px 0;
}
.modal-dialog{margin-top:10em}

.breadcrumb{
  padding: 0.75em 0;
  background: none;
  margin:0;
}

.container{
  //border:1px solid #6E6E6E;
  height: 100%;
}

@media (min-width: 980px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 960px;
  }
}

.row{
  height: 100%;
}

.header_feedback{

  margin-bottom:15px;
  padding: 5px 10px;

  a {
    color: #000;
    font-size: 16px;
    border-bottom: 1px #000 dashed;

    //background: #86cedb;
    //color: #fff;
    //font-weight: bold;
    //padding: 5px 10px;
    //border-radius: 5px;

    -webkit-text-decoration-skip: objects;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  a:hover{
    text-decoration: none;
    cursor:pointer;
    color:#ff8a3d;
    border-bottom: 1px #ff8a3d dashed;
  }

}

.header_phone_main{
  font-size: 35px;
  font-weight: bold;
  line-height: 35px;
}

.header_phone,.header_social{
  font-size:16px;
  float:left;
  padding: 0;
}

.header_messangers{

    overflow: auto;

    a {
      display: inline-block;
    }

  .messanger_tm,
  .messanger_vb,
  .messanger_wp,
  .messanger_ig{
    //border: 1px solid;
    width: 35px;
    height: 35px;
    float: right;
    margin: 5px;
    //background: url('/files/messangers.png') no-repeat;
    //background-size: cover;
  }

  //.messanger_tm{
  //  background-position-x:-50px;
  //}
  //.messanger_vb{
  //  background-position-x:-151px;
  //}
  //.messanger_wp{
  //  background-position-x:-252px;
  //}
  //.messanger_ig{
  //  background-position-x:-302px;
  //}

}

.mobile-header{

  width:100%;


  &_logo{

  width:50%;
    text-align:center;
    display:flex;

    .navbar-brand{
      display: block;
      text-align: center;
      margin: 0 auto;
      //margin-top: 20px;

      img{
        min-width: 110px;
        margin: 0 auto;
        width: 100%;
        max-width: 250px;
        padding: 0 25px;
      }
    }

  }

  &_feedback{
    width:50%;

    div{
      padding:0;
    }

  }
}

.main_menu{
  background: #86cedb;
  //background: #ff8a3d;
  font-size: 16px;

  a{
    color:#fff!important;

    &:hover{
      text-decoration: none;
    }
  }

  //a:first-child
  //{
  //  padding-left:0!important;
  //}
  //
  //.navbar-nav:first-child{
  //  margin-left:0!important;
  //}

  .navbar-nav .nav-link{
    //font-weight:700;
  }
}

.advantages {

  .advantages_item {
    font-size: 20px;
    text-align: center;
    //border: 1px solid #ececec;
  }

  .advantages_item_block {
    background: #86cedb;
    color: #fff;
    height: 100%;
    border-radius: 5px;
    padding-top:30px;
  }

  .advantages_item_block-text{
    position: relative;
    height: 100px;
    text-align: center;
  }

  .advantages_item_block p {
    clear:both;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    line-height: 20px;
  }

}

@media (max-width: 540px) {

  .advantages .advantages_item_block-text{
    height: 70px;
  }

}



.front_image{
  width: 100%;
  max-height: 550px;
  background-image: url('/files/central-foto.png');
  background-size: cover;
  height: 858px;
  background-position: center top;
  display:flex;

  img{
    margin: auto;
    width: 100%;
    max-width: 400px;
    margin-top: 140px;
  }
}

.form_make_appointment{
  margin: 0 auto;
  width:350px;
  //margin-left:50%;
}

.form_feedback{
  padding:120px;
  background-image: url('/files/zayavka.png');
  background-position: center top;
}

@media (min-width: 855px) {
  .mobile-header {
    display: none;
  }
}

@media (max-width: 855px) {
  .desctop-header{
    display:none;
  }
}

@media (max-width: 540px) {

  .form_make_appointment{
    margin: 0 auto;
    width:250px;
  }

  .form_feedback{
    padding:60px;
    background-position: right;
  }

  .front_image{
    max-height: 350px;
  }

  .front_image img{
    width:250px;
    margin-top:60px;
  }
}

//страница цен

.prices-block{

  margin-top:25px;

  h3{
    padding: 10px 0;
  }

}

//страница новостей
li.list-group-item {
  padding-left: 0;
}

li.list-group-item:first-child{
  border:0;
}

//контакты


.contacts {

  h2{
    display:block;
    margin: 0;
    padding: 0;
  }

  p{
    padding:0;
    margin:0;
  }
  //font-size: 20px;
  //text-align: center;
  //border: 1px solid #ececec;
}

//отзывы

.reviews{
  &-form{

  }

  &-textarea,
  &-name,
  &-phone {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  &-button{

  }

  &-list{

    margin-top: 15px;
    border-top: 1px solid #ececec;
    padding-top: 15px;

    &-element{

    }
  }

  &-element-name{
    padding: 0;
    margin: 0;
    font-weight: bold;
  }

  &-element-text{
    margin-top: 2px;
  }

}

.footer{
  height: auto;
  background: #556567;
  margin-top:35px;
}

.footer h5{
  color:#fff;
  font-weight:bold;
}

.footer_logo{
  img {
    width:150px;
  }
}

.footer_menu{
  list-style: none;
  padding:0;
}

.footer_menu_link{
  color:#fff;
}

.footer_menu_link:hover{
  color:#fff;
}

.footer_phone{
  color:#fff;
  text-align: right;

  .footer_phone_main{
    font-size: 23px;
    font-weight: bold;
  }

  .footer_phone_dop{
    font-size:16px;
  }

  .footer_messangers{
    .messanger_tm,
    .messanger_vb,
    .messanger_wp,
    .messanger_ig{
      //border: 1px solid;
      width: 35px;
      height: 35px;
      float: right;
      margin: 5px;
  //    background: url('/files/messangers.png') no-repeat;
    }
  //
  //  .messanger_tm{
  //    background-position: 0 0;
    }

  //}
}

.aboutPage-doctors_block{
  padding-left: 55px;
}

.aboutPage-doctor{

  margin-bottom: 20px;

  &_name{
    font-size:1.3em;
    font-weight: bold;
    color: #808080;
  }
  &_spec{
    padding-left: 60px;
    margin-bottom: 10px;
    color: #999;
    font-weight: bold;
  }
  &_stage{
    padding-left: 60px;
    margin-bottom: 10px;
  }
  &_descr{
    padding-left: 60px;
    margin-bottom: 10px;

    p{margin:0}

  }

}

.widget-doctor {

  border:1px solid #cecece;
  border-radius: 15px;
  padding: 25px 25px 0px;

  &:first-child{
    margin-left:0;
  }

  &_image {
    height: 150px;
    overflow: hidden;
    margin-bottom: 15px;
  }
}

.gallery{

  &-block{

    height: auto;
    overflow: auto;

  }

  &-block-element{

    //width:33%;
    float:left;
    text-align:center;
    //margin-bottom:15px;
    margin: 10px;
    img{
      max-height:150px;
      width:auto;
    }

  }
}

@media (max-width: 855px) {
  .gallery {

    &-block-element {
      width:100%;
    }
  }
}

@media (max-width: 540px) {

}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel .owl-item img {
  display: block;
  max-width: 100%;
  width: auto;
  /* object-fit: cover; */
  max-height: 200px;
  margin: 0 auto;
}

.licesne_number-header,
.licesne_number-footer{
  font-weight: bold;
  margin-top: 7px;
}

.licesne_number-footer{
  color:#fff
}